<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/myepaper" version="1.0.0">
    <tizen:application id="A1B2C3D4E5.MyEPaperApp" package="A1B2C3D4E5" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/application/epaper.support" value="true"/>
    <access origin="*" subdomains="true"/>
</widget>